@import "vars"
@import "fonts"

body 
    margin: 0
    padding: 0
    font-family: "Open Sans", sans-serif
body * 
    box-sizing: border-box
.content__row
    display: flex 
    height: 980px
    max-height: 100vh
.content__col
    width: 50%
.content__col:first-child 
    background: #1C1C1C
.image 
    width: 100%
    height: 100% 
    object-fit: cover 
    object-position: right bottom
.content__col-text
    display: flex
    justify-content: center
    align-items: center
    padding-top: 100px 
    padding-bottom: 100px
.text-content
    width: 660px 
    max-width: 90%
    color: #fff
.text 
    font-size: 40px 
    font-weight: 800
    margin-bottom: 16px
.item 
    margin-bottom: 80px
.item:last-child 
    margin-bottom: 0
.link 
    font-size: 28px 
    font-weight: 400 
    color: #1C84C6

//start header style
.header
    padding-top: 15px 
    padding-bottom: 15px
    .container-fluid 
        width: 85vw
        margin-left: auto 
        margin-right: auto
        display: flex 
        justify-content: space-between 
        align-items: center
.logo
    img 
        width: 260px
.menu 
    ul 
        padding: 0 
        margin: 0 
        list-style: none 
        display: flex 
        align-items: center
    li 
        margin-left: 17px
    a 
        text-decoration: none
.menu__link 
    Color: #337ab7
.btn 
    padding: 9px 14px
    color: #fff
    font-size: 14px
    border-radius: 3px
    font-weight: 400
.blue-btn
    background: #1c84c6
.green-btn
    background: #a0bc45  
.menu-btn
    display: none
//end header style

//start footer
.footer__top
    padding-top: 75px 
    padding-bottom: 75px
    background: #a0bc45
    color: #fff
    text-align: center 
    font-size: 36px
    font-weight: 500
.footer__top-container
    width: 880px 
    max-width: 90% 
    margin-left: auto 
    margin-right: auto  
    font-family: 'Roboto', sans-serif
    p 
        margin-bottom: 0
        padding-bottom: 0
        margin-top: 0 
        padding-top: 0
    a 
        color: #fff
    a:hover 
        color: #fff
.footer-bottom
    padding-top: 35px 
    padding-bottom: 35px
    .container 
        display: flex 
        justify-content: space-between 
        align-items: center
        width: 1200px 
        margin-left: auto 
        margin-right: auto 
        max-width: 85vw
ul 
    list-style: none 
    padding: 0 
    margin: 0
.footer-bottom a
    border-left: 1px solid #ddd
    color: #4e575d
    font-size: 12px
    padding: 0 10px
    text-transform: uppercase
    text-decoration: none
.pull-right a
    border-left: none
    padding-left: 0
//end footer

@import "media"



